html {
    font-size: 17px;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #000;
    font-family: "Times New Roman", Times, serif;
}

/* CSS CHUNG */

.mar-tb{
    margin: 10px 0;
}

.bold_und{
    font-weight: bold;
    text-decoration: underline;
}

.red-weight{
    color: red;
    font-size: 17px;
    font-weight: bold;
}

.black-weight{
    color: #000;
    font-size: 17px;
    font-weight: bold;
}

.work-flow{
    display: flex;
    justify-content: space-between;
}

.flow{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flow :nth-child(1){
    font-weight: bold;
}

.flow :nth-child(2){
    margin: 10px 0;
    font-style: italic;
}

.flow :nth-child(3){
    font-weight: bold;
}

.flow :nth-child(4){
    margin-top: 30px;
}

/* CSS CHUNG */

.container {
    width: 803px;
    margin: 0 auto;
    padding: 60px 60px 20px 60px;
    background-color: #fff;
}

.header_info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.header_info img {
    height: 120px;
    margin-left: 10px;
}

.header_info ul {
    list-style-type: none;
    font-weight: bold;
    font-style: italic;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    position: relative;
    top: -10px;
    right: -125px;
}

.header_info p {
    font-weight: 700;
    font-size: 12px;
    position: relative;
    top: -20px;
}

.header_number_date p {
    font-size: 15px;
    margin: 5px 0 0;
}

.header_number_date h5 {
    font-size: 19px;
    font-style: italic;
    text-align: right;
    margin: 0;
    font-weight: normal;
}

/* xong phần header */

.con-mid h1{
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

/* xong phần midder */

.footer .finish {
    width: 115%;
    height: 15px;
    margin-top: 80px;
    background-color: #4472c4; 
    position: relative; 
    left: -60px;
}

.footer h1{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.footer_info{
    text-align: center;
}